 * {
	box-sizing: border-box;
	margin: 0px auto;
}

.container {
	border: 1px black solid;
	height: 500px;
	margin-top: 90px;
	width: 800px;
}

.upper div,
.lower div {
	border: 1px solid black;
	display: inline-block;
	margin-right: -4px;
}

.upper div {
	height: 200px;
	width: 50%;
}

.lower div {
	height: 300px;
	width: 33.33%;
}

.upper {
	margin-bottom: -4px;
}

.lower {
	margin-top: -3px;
}

.box1 {
	background-color: green;
}

.box2 {
	background-color: blue;
}

.box3 {
	background-color: gray;
}

.box4 {
	background-color: black;
}

.box5 {
	background-color: orange;
}
